@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply font-sans antialiased text-gray-900 bg-surface;
  }
}
